<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.medicento.salesappmedicento">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_new_full"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_new_full_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".NewPharmacy"
            android:label="Add new Pharmacy"
            android:parentActivityName=".PlaceOrdersActivity" />
        <activity
            android:name=".SalesPersonDetails"
            android:parentActivityName=".PlaceOrdersActivity" />
        <activity
            android:name=".SignInActivity"
            android:label="Sign In"
            android:parentActivityName=".PlaceOrdersActivity" />
        <activity
            android:name=".NewArea"
            android:label="Add new Area"
            android:parentActivityName=".PlaceOrdersActivity" />
        ````````
        <activity
            android:name=".Recentorder"
            android:label="Recent Order"
            android:parentActivityName=".PlaceOrdersActivity" />
        <activity
            android:name=".PlaceOrdersActivity"
            android:label="Sales App Medicento"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".pharmacyRegister" />
        <activity android:name=".recover"></activity>
    </application>

</manifest>